#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 5px;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
/* Example color for tile 2 */
.tile-2 { background: #eee4da; color: #776e65; }